.enpimg {
    position: fixed;
    left: 47vw;
    bottom: 20vw;
}

.enpimgmove {
    display: none;
}

.mypimg {
    position: fixed;
    width: 13%;
    left: 16vw;
    bottom: 8vw;
}

.mypimgmove {
    display: none;
}

#background {
    z-index: -1;
    position: fixed;
    top: 7vw;
    left: 10%;
    width: 50%;
    height: 33vw;
    background-color: red;
}

#display {
    position: fixed;
    top: 7vw;
    left: 63%;
    height: 33vw;
    width: 28%;
    background-color: whitesmoke;
}

#play {
    position: fixed;
    color: white;
    bottom: 3vw;
    width: 20%;
    left: 40%;
    background-image: url(https://wallpapercave.com/wp/ykV5YUr.png);
    background-size: 100% auto;
    background-position: center;
}

#hpbar1 {
    left: 13%; 
    top: 18%;  
    position: fixed;
    color:white;
}

#hpbar2 {
    left: 44%; 
    bottom: 20%;
    color:white;
    position: fixed;
}