.enpimg {
    position: fixed;
    width: 4vw;
    left: 46vw;
    top: 23vw;
}

.enpimgmove {
    display: none;
}

.mypimg {
    position: fixed;
    width: 12vw;
    left: 15vw;
    top: 28vw;
}

.mypimgmove {
    display: none;
}

#background {
    z-index: -1;
    position: fixed;
    top: 7vw;
    left: 10%;
    width: 50%;
    height: 33vw;
    background-color: red;
}

#display {
    position: fixed;
    top: 7vw;
    left: 63%;
    height: 33vw;
    width: 28%;
    background-color: whitesmoke;
    word-wrap: break-word;
    text-align: center;
    overflow: scroll;
}

#play {
    position: fixed;
    color: white;
    bottom: 3vw;
    width: 20%;
    left: 40%;
    background-image: url(https://wallpapercave.com/wp/ykV5YUr.png);
    background-size: 100% auto;
    background-position: center;
}

#hpbar1 {
    position: fixed;
    width: 3vw;
    left: 13vw; 
    top: 10vw;  
    color: white;
}

#hpbar2 {
    position: fixed;
    width: 3vw;
    right: 52vw; 
    top: 35vw;
    color: white;
}