/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-image: url(http://i.imgur.com/SYY2mJz.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
}